{% extends 'base.html' %}

{% block content %}

{% if user_role %}
    {% include 'navbar.html' %}
{% endif %}

<main>
    <h3>Update Password</h3>

    <ul class="nav nav-tabs">
              <li {% if section =='1' %} class="active" {% endif %} >
                <a  href="/student/personalinfo">View Profile</a>
              </li>
              <li {% if section =='2' %} class="active" {% endif %} >
                <a  href="/student/personalinfo/update">Update Profile</a>
              </li>
              <li {% if section =='3' %} class="active" {% endif %}>
                <a   href="/student/personalinfo/changepassword">Update Password</a>
              </li>
          </ul>
        <div class="card">

    <form method="post" action="/student/personalinfo/changepassword" onsubmit="return confirm('Are you sure you want to submit?')" class="change-password-student">
        <div class="form-group">
          <label for="name">Old Password:</label>
          <input type="password" class="form-control" name="oldpass" id="oldpass" value="{{ password[0][0] }}" required>
          <button type="button" id="toggle-password1" class="btn btn-default"><i class="fa fa-eye"></i></button>
        </div>
        <div class="form-group">
          <label for="name">New Password:</label><br>
          <input type="password" class="form-control" name="newpass" id="newpass" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
             <p class="format">Password format should have at least one uppercase letter, one number, one special character and be at least 8 characters long.</p>
          <button type="button" id="toggle-password2" class="btn btn-default"><i class="fa fa-eye"></i></button>
        </div>
        <div class="form-group">
          <label for="name">Confirm New Password:</label>
          <input type="password" class="form-control" name="newpass2" id="newpass2" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
             <p class="format">Password format should have at least one uppercase letter, one number, one special character and be at least 8 characters long.</p>
          <button type="button" id="toggle-password3" class="btn btn-default"><i class="fa fa-eye"></i></button>
        </div>
    
        <button type="submit" class="btn" onclick="return checkPasswords()">Update Password</button>
      </form>
      </div>
</main>


<script>
    function checkPasswords() {
      var password = document.getElementsByName("newpass")[0].value;
      var confirm_password = document.getElementsByName("newpass2")[0].value;

      if (password != confirm_password) {
        alert('Passwords do not match.');
        return false;
      }

      return true;
    }

    // Select the password fields and eye buttons using their IDs
    const password1Field = document.querySelector("#oldpass");
    const password2Field = document.querySelector("#newpass");
    const password3Field = document.querySelector("#newpass2");
    const togglePassword1Button = document.querySelector("#toggle-password1");
    const togglePassword2Button = document.querySelector("#toggle-password2");
    const togglePassword3Button = document.querySelector("#toggle-password3");

    // Add event listeners to the eye buttons
    togglePassword1Button.addEventListener("click", function() {
      togglePasswordVisibility(password1Field, togglePassword1Button);
    });

    togglePassword2Button.addEventListener("click", function() {
      togglePasswordVisibility(password2Field, togglePassword2Button);
    });

    togglePassword3Button.addEventListener("click", function() {
      togglePasswordVisibility(password3Field, togglePassword3Button);
    });

    // Define a function to toggle password visibility
    function togglePasswordVisibility(passwordField, togglePasswordButton) {
      if (passwordField.type === "password") {
        passwordField.type = "text";
        togglePasswordButton.innerHTML = '<i class="fa fa-eye-slash"></i>';
      } else {
        passwordField.type = "password";
        togglePasswordButton.innerHTML = '<i class="fa fa-eye"></i>';
      }
    }
    
  </script>


<style>

    .card{
    border-top:none;
    border-radius: 0;
}

.btn{
margin-top:5px;
}

.format{
    font-weight: 300;
}
</style>
{% endblock %}