{% extends 'base.html' %}

{% block content %}

{% if user_role %}
    {% include 'navbar.html' %}
{% endif %}

<main>

    <h3 class="list-title">Students List</h3>
    <!-- List view -->
    {% if message %}
            {% if alertStyling == "Red" %}
            <div class="alert alert-danger" role="alert">
            {% elif alertStyling == "Green" %}
            <div class="alert alert-success" role="alert">
                {% elif alertStyling == "Yellow" %}
            <div class="alert alert-warning" role="alert">
            {% else %}
            <div>
            {% endif %}

            {{message}}</div>
        {% endif %}
<div class="card">
        <div class="row">
          
            <!-- Search section -->
            <div class="title-line">
                  <form method="POST" onsubmit="return validateSearch()">
                  <input type="text" id="search" name="search" placeholder="student name">
                  <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                  </form>
        </div>


        
        <div class="title-line">
            <form method="POST"   action="/convenor/filter_report_progress">
                <label for="report_progress">Filtered by report porgress:</label>
                <select class="custom-select" style='width:200px' name="report_progress" id="report_progress">
                <option value=1 {% if sort_re_progress =='1' %} selected {% endif %}>on going(student)</option>
                <option value=2 {% if sort_re_progress =='2' %} selected {% endif %}>on going(supervisor)</option>
                <option value=3 {% if sort_re_progress =='3' %} selected {% endif %}>convenor to grade</option>
                <option value=4 {% if sort_re_progress =='4' %} selected {% endif %}>chair</option>
                <option value=5 {% if sort_re_progress =='5' %} selected {% endif %}>on going(admin)</option>
                <option value=6 {% if sort_re_progress =='6' %} selected {% endif %}>completed</option>
                <option value=None {% if sort_re_progress =='None' %} selected {% endif %}>not started</option>
                </select>
                <button class="btn" type="submit"  value="Submit"><i class="fa fa-search"></i></button>
            </form>
  </div>
  
        <a href="/convenor/students"  id="reset">
            <button class="btn"  type="submit">RESET</button>
        </a>

 </div> 

        <div>
              {% if select_result %}
        <p>Note:</p>
        <p class="table-note">- DEM: Department of Environmental Management. DTSS: Department of Tourism, Sport and Society. SOLA: School of Landscape Architecture </p>
            </div>

    <div class="table_row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Report ID</th>
                <th scope="col">Report Term</th>
                <th scope="col">Report Due Date</th>
                <th scope="col">Report Progress</th>
                <th scope="col">Profile Detail</th>
            </tr>
            </thead>

            {% for students in select_result %}
            <tbody>
            <tr>

            
                <td>{{students[0]}}</td>
                <td>{{students[1]}}</td>
                <td>{{students[2]}}</td>
                <td>{{students[3]}}</td>
                <td>{{students[4]}}</td>


                <td>{{students[6]}}</td>
                <td>{{students[7]}}</td>


                {% if students[5]==1 %}
                <td> on going(student)</td>


                {% elif students[5]==2 %}
                <td> on going(supervisor)</td>

                {% elif students[5]==3 %}
                <td>
               <a href="/view_report/sectionA?report_id={{students[4]}}&term={{students[6]}}&routing=12"class="btn-delete" name="view_report"><i class="fa-solid fa-pen-to-square"></i>convenor to grade
                </td>

                {% elif students[5]==4 %}
                <td> chair </td>


                {% elif students[5]==5 %}
                <td> on going(admin)</td>

                {% elif students[5]==6 %}
                <td>completed</td>


                {% else %}
                <td>not started </td>

                {% endif %}

            <td>
                    <form method="POST" action="/convenor/student_detail">
                        <input type="hidden" name="ID" value="{{students[0]}}">
                        <button class="btn-update" type="submit"><i class="fa-solid fa-eye"></i>View Detail</button>
                    </form>
                </td>
            
            </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
        </div>

</main>

<script>

    function confirmDelete(values) {
        const [student_id, fullname] = values.split(',');
      // Prompt the user to confirm the deletion
      var result = confirm(`Are you sure you want to delete ${fullname}?`);
      result = confirm(`This is the final warning. All data will be erase for ${fullname} `)

      // If the user clicked "OK", return true
      if (result == true) {
        window.location.href = "/admin/delete_student?student_id=" + student_id;
      }

      // Otherwise, return false
      return false;
    }

function validateSearch() {
  var searchInput = document.getElementById("search").value;
  if (searchInput == "") {
    alert("Sorry,you have not entered any search terms, please re-enter it.");
    return false;
  }
  return true;
}


</script>

<style>
tr {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

        .title-line select {
        width: 150px;
        padding: 5px 10px;
        height: 35px;}

 a i, button i{
margin-right:5px;
}

</style>

{% endblock %}
